.wrapper-modal{
  position : fixed;
  inset: 0px; /*이 부분만 특정 지정해서 위치 조정 */
  background-color: rgb(0 0 0 /71%);
  display: flex;
  justify-content: center;
}


.presentation{
  z-index:1200;
  position: absolute;

}


.modal-close{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  color: white;

}
.modal{
  position: relative;
 max-width: 800px;
 box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
 0px 5px 8px 0px rgba(0,0,0,0.14) ,
 0px 1px 14px 0px rgba(0,0,0,0.12) ;

  background: #111;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}